.listings-list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 24px 24px;
  grid-auto-rows: minmax(100px, auto);
}

.listings-list .listing-item {
  height: 233px;
  border: 0;
  background: #f6f6f6;
  position: relative;
  /* // border-radius: 4px; */
}

.listings-list .clip {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* // border-radius: 4px; */
}

.listings-list .listing-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  border: 0;
  position: absolute;
  /* // border-radius: 4px; */
}

.listings-list .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  /* // border-radius: 4px; */
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.65)
  );
}

.listings-list .listing-item:hover img {
  filter: brightness(1.02);
  transform: scale(1.02);
  transition: all 200ms ease-out;
}
.listings-list .listing-item:hover h2 {
  color: #fff;
  transition: all 200ms ease;
}
.listings-list .listing-item:hover h3 {
  color: #fff;
  transition: all 200ms ease;
}
.listings-list .listing-item h2 {
  font-size: 10px;
  font-weight: 800;
  color: #ddd;
  width: 100%;
  margin: 12px 0 0;
  text-transform: uppercase;
  position: absolute;
  bottom: 40px;
  left: 16px;
  z-index: 2;
}
.listings-list .listing-item h3 {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  width: 100%;
  margin: 4px 0;
  position: absolute;
  bottom: 12px;
  left: 16px;
  z-index: 2;
}

@media (min-width: 768px) {
  .listings-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .listings-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
