.booking-search-form input {
  width: 100%;
}

.booking-search-form.large .date {
  margin-right: 16px;
  display: inline;
}

.booking-search-form.large .search,
.booking-search-form.large .date,
.booking-search-form.large .guests {
  background-size: 20px 20px;
  background-position: 16px 14px;
}

.booking-search-form .search {
  /* background: url(/static/search.svg) no-repeat scroll 7px 6px; */
  background-size: 15px 15px;
}

.booking-search-form .guests {
  /* background: url(/static/people.svg) no-repeat scroll 7px 6px; */
  background-size: 15px 15px;
}
